* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px;
}

/* HEADER */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none !important;
}

.logo img {
  width: 55px;
  border-radius: 8px;
}

.logo-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #0d6efd;
}

.logo-text span {
  font-size: 12px;
  color: #666;
  letter-spacing: 0.5px;
}

/* NAVIGATION */
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  padding: 5px 0;
  transition: 0.3s;
}

/* hover line animation */
nav ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #0d6efd;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: #0d6efd;
}

/* HEADER BUTTONS */
.header-buttons {
  display: flex;
  gap: 10px;
}

/* COMMON BUTTON STYLE */
.btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 9px 16px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* CALL BUTTON */
.btn.call {
  background: linear-gradient(135deg, #0d6efd, #4dabff);
}

/* WHATSAPP BUTTON */
.btn.whatsapp {
  background: linear-gradient(135deg, #25D366, #128C7E);
}


/* ICON ANIMATION */
.btn i {
  transition: 0.3s;
}

/* Hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #333;
  transition: 0.3s;
}

/* X Animation */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
